h1{
    color : #0c09be;
}
*{
    border : solid;
}
.header{
    background-color: #F8AFBB;
    display : flex;
    justify-content : space-between;
}
.grid{
    display : flex;
    flex-wrap: wrap;
    justify-content : space-evenly;
}
.footer{
    display : flex;
    justify-content : flex-end;
}
p, h2{
    text-align : center;
}
.header1{
    background-color : #800080;
}
.grid1{
    background-color : #000000;
    display : flex;
    flex-wrap: wrap;
    justify-content : space-evenly;
}
body{
    background-color : #F8AFBB;
}